doctype html
html
  block vars
  head
    meta(charset='utf-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='http://weihub.com/css/style-built.css?bust=style.fc200')
    if styles
      each style in styles
        link(rel='stylesheet', href='http://weihub.com/css/'+style)
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    != '<!--[if lt IE 9]>'
    != '<script src="http://weihub.com/js/html5shiv.js"></script>'
    != '<script src="http://weihub.com/js/respond.min.js"></script>'
    != '<![endif]-->'
  body
    header#navbar.navbar.navbar-default.navbar-static-top(role='banner')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only 切换导航
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.hijax(href='/') WangShenwei
        #navbar-collapse.navbar-collapse.collapse(role='navigation')
          ul.nav.navbar-nav
            li(class=nav === 'article' ? 'active' : '', data-nav='article')
              a.hijax(href='/article')
                span.glyphicon.glyphicon-list-alt
                |  文章
            if user && user.admin
              li(class=nav === 'comments' ? 'active' : '', data-nav='comments')
                a.hijax(href='/comments')
                  span.glyphicon.glyphicon-comment
                  |  评论
          //- form.navbar-form.navbar-left(action='http://www.google.com.hk/search', method='get', role='search')
          //-   .form-group
          //-     input.form-control(type='search', name='q', autocapitalize='off', autocomplete='off', spellcheck='false', placeholder='搜索')
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href=user && user.profile_url || '#')
                  span.glyphicon.glyphicon-user
                  |  
                  = user.fullname
              li
                a#top-sign-out(href='/signout')
                  span.glyphicon.glyphicon-log-out
                  |  退出
            else 
              li(class=nav === 'auth' ? 'active' : '', data-nav='auth')
                a#top-sign-in.hijax(href='/auth')
                  span.glyphicon.glyphicon-log-in
                  |  登录
    #container
      block content
    
    .container.footer
      .row
        .col-md-4.footer-left
          | &copy; Wang Shenwei &nbsp;
          a(href='http://weibo.com/wangshenwei') 微博
          |  &middot; 
          a(href='https://github.com/weareoutman') GitHub
          |  &middot; 
          a(href='http://instagram.com/weareoutman') Instagram
        .col-md-4
          | Powered by 
          a(href='http://expressjs.com/', target='_blank') Express
          | , 
          a(href='http://getbootstrap.com/', target='_blank') Bootstrap
        .col-md-4.footer-right
          a(href='http://www.miibeian.gov.cn/', target='_blank') 粤ICP备12079626号-2
    script(src='http://weihub.com/js/require.js')
    script(src='http://weihub.com/js/main-built.js?bust=main.db082')
    script.
      require.config({
        paths: {
          // index: 'index.js?bust=index.5edb3',
          article: 'article.js?bust=article.e03d0',
          comments: 'comments.js?bust=comments.fb52d',
        }
      });
    script
      - var requires = ['main']
      if script
        - requires.push(script)
      | require(
      != JSON.stringify(requires)
      | ,function(main,script){script&&(main.current=script.initialize(
      if datum
        != JSON.stringify(datum)
      | ))});
    if !DEV
      script.
        // Google analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-48261249-2', 'wangshenwei.com');
        ga('send', 'pageview');
    //- if scripts
    //-   each script,i in scripts
    //-     script(src=script)
    block inlineScript

