.container
  .row
    .col-md-8.col-md-offset-2
      .article-container
        h1.article-title= article.title
        p.article-meta.text-muted
          = article.str_create_time
          - var tags = article.tags && article.tags.split(',')
          if tags
            | ,
            each tag in tags
              |  
              a.text-muted.hijax(href='/tag/' + tag)= '#' + tag
          if user && user.admin
            |  &nbsp;[
            a.hijax(href='/article/' + article.uri + '/edit') Edit
            | ] &nbsp;[
            a(href='/article/' + article.uri + '/raw') Raw
            | ] &nbsp;[
            a#btn-delete.text-danger(href='javascript:;') Delete
            | ]
        .article-content!= article.html
      hr
      #comments.comment-container
        .clearfix
          .pull-left
            strong 评论 
            span#comment-loading.text-muted (加载中)
            span#comment-badge.badge.hidden 6
          .pull-right.text-muted
            span.hidden-xs 评论
            | 支持 
            a(href='https://help.github.com/articles/github-flavored-markdown', target='_blank') GitHub Flavored Markdown
            |  语法
        hr
        .media(style='margin-bottom:15px')
          .pull-left.media-profile
            if user && user.avatar
              img(src=user.avatar, width='64', height='64')
            else
              span.glyphicon.glyphicon-user.text-muted
          .media-body
            div
              textarea#comment-text.form-control(style='height:64px;margin-bottom:10px;resize:vertical',placeholder='加入讨论')
            #comment-btns.comment-btns.hidden(class=user ? 'comment-btns-signed' : '')
              if ! user
                .col-auth
                  p.text-muted 使用社交账号登录：
                  div
                    - var path = '/article/' + article.uri + '%23comments'
                    //- a.btn-auth.btn-auth-weibo(href='/auth/redirect/weibo?path=' + path, title='微博')
                    //-   span.sr-only 微博
                    a.btn-auth.btn-auth-qq(href='/auth/redirect/qq?path=' + path, title='QQ')
                      span.sr-only QQ
                    a.btn-auth.btn-auth-github(href='/auth/redirect/github?path=' + path, title='GitHub')
                      span.sr-only GitHub
                    a.btn-auth.btn-auth-instagram(href='/auth/redirect/instagram?path=' + path, title='Instagram')
                      span.sr-only Instagram
                    a.btn-auth.btn-auth-google(href='/auth/redirect/google?path=' + path, title='Google')
                      span.sr-only Google
                .col-name
                  p.text-muted 不想登录？在这输入一个昵称：
                  div
                    input#comment-user.form-control
              .col-submit
                p.text-muted &nbsp;
                button#comment-submit.btn.btn-primary(type='submit')
                  |  &nbsp; 
                  span.glyphicon.glyphicon-arrow-right
                  |  &nbsp;
        ul#comment-list.media-list.comment-list
      script#tpl-comment(type='text/template')
        include comment.tpl