extends ../layout.jade

block vars
  - var title = (update ? '修改文章: ' + article.title : '写一篇文章') + ' - WeiHub'
  - var nav = 'article'

block content
  .container
    form#formArticle(role='form', action=update ? '/article/' + article.uri : '/article', method='post', autocomplete="off")
      .form-group
        label(for='inputArticleTitle') 标题
        input#inputArticleTitle.form-control(name='title', type='text', placeholder='标题', value=update ? article.title : '')
      .form-group
        label(for='textareaArticleContent') 内容
        textarea#textareaArticleContent.form-control.text-code(name='content', rows='8', placeholder='内容')= update ? article.content : ''
      .form-group
        label(for='inputArticleUri') 链接名
        input#inputArticleUri.form-control(name='uri', type='text', placeholder='链接名', value=update ? article.uri : '')
      .form-group
        label(for='inputTags') 标签
        input#inputTags.form-control(name='tags', type='text', placeholder='标签', value=update ? article.tags : '')
      button.btn.btn-primary(type='submit') 保存
      if update
        |  
        a.btn.btn-default(href='/article/' + article.uri, type='submit') 返回
        input(name='_method', type='hidden', value='put')
