extends ../layout.jade

block vars
  - var title = (update ? '修改文章: ' + article.title : '写一篇文章') + ' - Wang Shenwei'
  - var nav = 'article'

block content
  .container
    form#form-article(role='form', action=update ? '/article/' + article.uri : '/article', method='post', autocomplete="off")
      .form-group
        label(for='input-article-title') 标题
        input#input-article-title.form-control(name='title', type='text', placeholder='标题', value=update ? article.title : '')
      .form-group
        label(for='textarea-article-content') 内容
        textarea#textarea-article-content.form-control.text-code(name='content', rows='8', placeholder='内容')= update ? article.content : ''
      .form-group
        label(for='input-article-uri') 链接名
        input#input-article-uri.form-control(name='uri', type='text', placeholder='链接名', value=update ? article.uri : '')
      .form-group
        label(for='input-ags') 标签
        input#input-ags.form-control(name='tags', type='text', placeholder='标签', value=update ? article.tags : '')
      input#input-draft(name='draft', type='hidden', value='')
      button#btn-save.btn.btn-primary(type='submit') 保存
      |  
      if update
        a.btn.btn-default(href='/article/' + article.uri, type='submit') 返回
        input(name='_method', type='hidden', value='put')
      else
        button#btn-draft.btn.btn-default(type='button') 保存草稿

block inlineScript
  script.
    require(['main'], function(){
      require(['jquery'], function($){
        var form = $('#form-article')
          , draft = $('#input-draft');
        $('#btn-draft').click(function(){
          draft.val('1');
          form.submit();
        });
      });
    });
